﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Welcome EMployee</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Employees/ChangePassword" style="margin-right:30px">Change password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Employees/Details" style="margin-right:30px">Check Details</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Employees/LeaveApplication" style="margin-right:30px">LeaveApplication</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Home/ApplicationStatus" style="margin-right:30px">ApplicationStatus </a>
                </li>
                <li class="nav-item">
                    Welcome @ViewBag.UserName
                    @if (ViewBag.UserName != "")
                    {
                        <a href="/Login/Signout">Logout</a>
                    }
                    else
                    {
                        <a href="/Login/SignIn">Login</a>
                    }
                </li>


            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>



    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 border">
                <h4 style="text-align : center">@ViewBag.MyMessage</h4>

                @RenderBody()
            </div>
            

        </div>




    </div>

    <div class="card-footer" style="background-color: gainsboro">

    </div>

</body>
</html>
