﻿@model Exam.Models.EmployeeDetail

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>

<form action="/Employees/ChangePassword" method="post">


    <div class="form-group">
        <label> Old Password</label>
        <input type="text" name="password" value="@Model.password" readonly />

    </div>
    <div class="form-group">
        <label> New Password</label>
        <input type="text" name="password"  readonly />

    </div>
    <div class="form-group">
        <label> Confirm Password</label>
        <input type="text" name="password"  readonly />

    </div>

    <div class="form-group">
        <input type="s" name="btn" value="Submit" class="btn btn-success" />
        <a href="Employees/Index" class="btn btn-success" style="margin-left: 20px">Return to Home</a>
    </div>
</form>