﻿@model Exam.Models.EmployeeDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EmployeeDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dept_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dept_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Emp_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
