﻿@model IEnumerable<Exam.Models.EmployeeDetail>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signin</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    
    <form action="/Login/SignIn" method="post">
        <table class="table table-active center-block">
            <tr>
                <td>Email</td>
                <td>

                    <div class="form-group">

                        <label>Email</label>
                        <input type="text" name="Email_id" class="form-control" />
                    </div>

                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>

                    <div class="form-group">

                        <label> </label>
                        <input type="password" name="password" class="form-control" />
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-success" name="btn-login" type="submit">Signin </button>
                </td>
            </tr>
        </table>
        <p style="color:red"> @ViewBag.ErrorMessage</p>
    </form>

    <a href="/Employees/Create" class="btn btn-primary right" >Add Employees</a>
</body>
</html>
